div.queue-and-volume-controls{
    width: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.125rem;
}
div.queue-and-volume-controls .playlist{
    width: 2rem;
}
div.queue-and-volume-controls .volume, div.queue-and-volume-controls .mute{
    width: 3rem;
    height: 3rem;
}

div.queue-and-volume-controls img.volume{
    /* display: none; */
}
div.queue-and-volume-controls img.mute{
    display: none;
}

@media (max-width: 700px){
    div.queue-and-volume-controls{
        width: 5rem;
    }
    div.queue-and-volume-controls .playlist{
        width: 1.5rem;
    }

    div.queue-and-volume-controls > img{
        width: 1.2rem;
    }
}