div.play-controls{
    width: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.625rem;
    position: relative;
}
div.play-controls .shuffle{
    height: 2rem;
}
div.play-controls .play, div.play-controls .pause{
    width: 4rem;
}
div.play-controls .repeat{
    height: 3rem;
}

div.play-controls > img{
    width: 2.5rem;
}
div.play-controls img.play{
    /* display: none; */
}
div.play-controls img.pause{
    display: none;
}

@media (max-width: 700px){
    div.play-controls{
        width: 15rem;
    }

    div.play-controls .play, div.play-controls .pause{
        width: 3rem;
    }

    div.play-controls > img{
        width: 1.2rem;
    }
}
@media (max-width: 800px){
    div.play-controls .shuffle, div.play-controls .repeat{
        display: none;
    }
}