/* *{
    margin: 0;
    padding: 0;
} */

.album-container{

    background-color: brown;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.album-card{
    
    /* background-color: antiquewhite; */
    width: 30%;
    max-width: 20rem;
    aspect-ratio: 1;
}

.album-image{

    width: 100%;
    /* aspect-ratio: 1; */
    border-radius: 2rem;
    object-fit: cover;
    

}

