div.left{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
div.left img{
    width: 4rem;
}
div.left .song-name__container{
    width: 4rem;
    /* overflow-x: scroll; */
    white-space: nowrap;
}
div.left .song-name__container::-webkit-scrollbar{
    display: none;
}
div.left .song-name{
    
}

@media (max-width: 700px){
    div.left img{
        width: 3rem;
    }
    div.left .song-name__container{
        width: 3rem;
    }
}
@media (max-width: 800px){
    div.left .song-name__container{
        overflow-x: scroll;
        text-overflow: ellipsis;
    }
}