.controls{
    background-color: #025951;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    
}

.controls > img{
    width: 2.5rem;
}



@media (max-width: 700px){
    .controls > img{
        width: 1.2rem;
    }
}