.playlist-overlay{

    background-color: rgba(0, 0, 0, 0.342);
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;

    display: none;

}

.playlist-overlay::-webkit-scrollbar{
    display: none;
}

.playlist-overlay .playlist-left-button , .playlist-right-button{

    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    
}

.playlist-overlay .playlist-left-button{
    left: 0;
}
.playlist-overlay .playlist-right-button{
    right: 0;
}


